:root {
    --size: 64px;
    --border: 2px solid black;
    --color: radial-gradient(circle, rgba(255, 0, 0, 1) 0%, rgba(121, 9, 9, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

body {
    background: #000;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.rotating-square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--size) * 10);
    height: calc(var(--size) * 10);
    background: radial-gradient(circle, rgba(255, 0, 0, 1) 0%, rgba(121, 9, 9, 1) 100%, rgba(0, 212, 255, 1) 100%);
    border: var(--border);
    border-radius: 25%;
    animation: spin 5s ease-in-out forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(30deg);
    }
}

.rotating-square2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--size) * 9);
    height: calc(var(--size) * 9);
    background: var(--color);
    border: var(--border);
    border-radius: 25% 10%;
    animation: spin 5s ease-in-out forwards;
}

.rotating-square3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--size) * 8);
    height: calc(var(--size) * 8);
    background: var(--color);
    border: var(--border);
    border-radius: 25% 10%;
    animation: spin 5s ease-in-out forwards;
}

.rotating-square4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--size) * 7);
    height: calc(var(--size) * 7);
    background: var(--color);
    border: var(--border);
    border-radius: 25% 10%;
    animation: spin 5s ease-in-out forwards;
}

.rotating-square5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--size) * 6);
    height: calc(var(--size) * 6);
    background: var(--color);
    border: var(--border);
    border-radius: 25% 10%;
    animation: spin 5s ease-in-out forwards;
}

.rotating-square6 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--size) * 5);
    height: calc(var(--size) * 5);
    background: var(--color);
    border: var(--border);
    border-radius: 25% 10%;
    animation: spin 5s ease-in-out forwards;
}

.rotating-square7 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--size) * 4);
    height: calc(var(--size) * 4);
    background: var(--color);
    border: var(--border);
    border-radius: 25% 10%;
    animation: spin 5s ease-in-out forwards;
}

.rotating-square8 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--size) * 3);
    height: calc(var(--size) * 3);
    background: var(--color);
    border: var(--border);
    border-radius: 25% 10%;
    animation: spin 5s ease-in-out forwards;
}

.rotating-square9 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);
    background: var(--color);
    border: var(--border);
    border-radius: 25% 10%;
    animation: spin 5s ease-in-out forwards;
}

.rotating-square10 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--size) * 1.3);
    height: calc(var(--size) * 1.3);
    background: var(--color);
    border: var(--border);
    border-radius: 25% 10%;
    animation: spin 5s ease-in-out forwards;
}

.rotating-square11 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--size) * 0.8);
    height: calc(var(--size) * 0.8);
    background: var(--color);
    border: var(--border);
    border-radius: 25% 10%;
    animation: spin 5s ease-in-out forwards;
}

.rotating-square12 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--size) * 0.4);
    height: calc(var(--size) * 0.4);
    background: var(--color);
    border: var(--border);
    border-radius: 25% 10%;
    animation: spin 5s ease-in-out forwards;
}

.rotating-square13 {
    width: calc(var(--size) * 0.1);
    height: calc(var(--size) * 0.1);
    background: var(--color);
    border: var(--border);
    border-radius: 25% 10%;
    animation: spin 5s ease-in-out forwards;
}